.row {
    @extend .clearfix;
    width: 100%;
}

.col {
    float: left;
    display: block;
    min-height: 10px;
    &.col__10 {
        width: 10%;
    }
    &.col__16 {
        width: 16.666666%;
    }
    &.col__20 {
        width: 20%;
    }
    &.col__22 {
        width: 22%;
    }
    &.col__25 {
        width: 25%;
    }
    &.col__28 {
        width: 28%;
    }
    &.col__30 {
        width: 30%;
    }
    &.col__33 {
        width: 33.333333%;
    }
    &.col__40 {
        width: 40%;
    }
    &.col__50 {
        width: 50%;
    }
    &.col__60 {
        width: 60%;
    }
    &.col__66 {
        width: 66.666666%;
    }
    &.col__70 {
        width: 70%;
    }
    &.col__75 {
        width: 75%;
    }
    &.col__80 {
        width: 80%;
    }
    &.col__83 {
        width: 83.3333333%;
    }
    &.col__85 {
        width: 85%;
    }
    &.col__90 {
        width: 90%;
    }
    &.col__100 {
        width: 100%;
        float: none;
    }
    @include media-query('md') {}
    @include media-query('md:port') {}
    @include media-query('sm') {}
}